<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<h1>Create Your UserName and Password</h1>
<form method="post" action="/new_user_sucess">
  UserName:<br />
  <input type="text" name="username" />
  <br />
  Password:<br />
  <input type="text" name="password" />
  <br />
  First Name:<br />
  <input type="text" name="fname" />
  <br />
  Last Name:<br />
  <input type="text" name="lname" />
  <br /><br />
  <input type="submit" value="Submit" />
</form>
</body>
</html>